---
layout: base
application_url: https://forms.gle/eL3f4yytyTmdeEKM6
---

<div class="homepage splash-container">
  <div class="splash-overlay"></div>
  <div class="splash">
    <div class="logo"></div>
    <h1>HER CODE CAMP</h1>
    <h2>
      a free computer science weekend camp for senior high school students in
      the greater toronto area who identify as a woman, non-binary, or
      transgender
    </h2>
    <div>
      <a class="cta disabled">
        2020 Applications have closed
      </a>
    </div>
    <div>
      IN PARTNERSHIP WITH:<br />
      THE UNIVERSITY OF TORONTO'S DCS WOMEN<br />
      <p class="chevron-down">⌄</p>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content pure-g">
    <div class="pure-u-1">
      <h1>Summer is in session (virtual edition)</h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="eventinfo-session">
        <h2>Session 1 | Intro to Python</h2>
        <p>
          July 23rd - July 30th, 2020 <br /><br />
          a week long event to learn the basics of python through online
          tutorials, a live coding session to build your first python project,
          and a panel session
        </p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="eventinfo-session">
        <h2>Session 2 | Mentorship Program</h2>
        <p>
          August 13th - August 27th, 2020 <br /><br />
          a 2-week event where you apply your basic python knowledge to create
          your own project
        </p>
      </div>
    </div>
  </div>

  <div class="hero-imgs pure-g">
    <div class="pure-u-1 pure-u-md-1-3 img img1"></div>
    <div class="pure-u-1 pure-u-md-1-3 img img2"></div>
    <div class="pure-u-1 pure-u-md-1-3 img img3"></div>
  </div>

  <div class="content">
    <h1>The Details</h1>
    <p>
      Coding is telling the computer what to do, and is used in fields as varied
      as arts and design, healthcare and engineering! Interested in what
      computers can do? Want to get your hands dirty with code? Join us for a
      weekend to learn just what you, other women, and computers can do. You'll
      get the opportunity to learn from individuals from one of the best
      computer science programs offered. And the best part? It's all free,
      including food!
    </p>
    <p>
      Who is this for? Female-identifying, non-binary or transgender students in
      grades 10, 11 or 12 in high school from around the Greater Toronto Area
      who have little to no coding experience!
    </p>
  </div>

  <div class="pure-g hero-video">
    <div class="why pure-u-1 pure-u-md-1-3">
      <span class="msg">
        Why should you join us?
      </span>
    </div>
    <div class="video pure-u-1 pure-u-md-2-3">
      <iframe
        id="ytplayer"
        type="text/html"
        width="800"
        height="450"
        src="https://www.youtube.com/embed/8v2uwS1NzWU?autoplay=0"
        frameborder="0"
      ></iframe>
    </div>
  </div>

  <div class="content">
    <h1>Frequently Asked Questions</h1>
    <div class="pure-g">
      {% for faq in site.data.faq %}
      <div class="faq-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <div class="q">{{ faq.q }}</div>
        <div class="a">{{ faq.a }}</div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="content im-interested">
    <h1>I AM INTERESTED, WHAT NOW?</h1>
    <p>
      Applications are closed for 2020!
    </p>

    <a href="https://forms.gle/JVQegiYgLKzUXfkD8" class="cta">
      Register your interest
    </a>
  </div>

  <div class="who-are-we pure-g">
    <div class="group-photo pure-u-1 pure-u-lg-1-2"></div>
    <div class="desc pure-u-1 pure-u-lg-1-2">
      <h1>FIRE STARTERS // WHO ARE WE?</h1>
      <p>
        We are a group of fierce, female-identifying graduate students at the
        University of Toronto. Our fields vary from machine learning to
        bioinformatics to cybersecurity. Our goal is to hack the gender gap and
        help minority groups grow to their full potential.
      </p>
      <p>
        <i>Team (from top left to bottom right):</i> Marta Skreta, Heather
        Gibling, Mariana D'Angelo, Yasaman Rohanifar, Seung-Eun Yi, Joanna
        Pineda, Brenna Li, Chantal Shaib, Armande Ang Houle, Elyssa Bader<br />
        <i>Not pictured:</i> Swapna Seshadri, George Lifchits, Julia Watson,
        Sarah Kushner
      </p>
      <p>Faculty Sponsors: Dr. Marzyeh Ghassemi, Dr. Florian Shkurti</p>
    </div>
  </div>

  <div class="volunteer pure-g">
    <div class="desc pure-u-1 pure-u-lg-14-24">
      <h1 class="msg">We're looking for mentors!</h1>
      <a class="btn" href="https://forms.gle/SD2V1Q4Key71wEyFA"
        >Click here to apply</a
      >
    </div>
    <div class="photo pure-u-1 pure-u-lg-10-24"></div>
  </div>

  <div class="content">
    <h1>Land Acknowledgement</h1>
    <p>
      We wish to acknowledge the land on which the University of Toronto
      operates. For thousands of years it has been the traditional land of the
      Huron-Wendat, the Seneca, and most recently, the Mississaugas of the
      Credit River. Today, this meeting place is still the home to many
      Indigenous people from across Turtle Island and we are grateful to have
      the opportunity to work on this land.
    </p>
  </div>

  <div class="l-box-lrg sponsors">
    <h1>Fuel // Our Sponsors</h1>
    <div class="pure-g">
      {% for sponsor in site.data.sponsors %}
      <div class="pure-u-1 pure-u-md-1-2">
        <div
          class="sponsor"
          style="background-image: url('{{ sponsor.img }}');"
        ></div>
      </div>
      {% endfor %}
    </div>

    <div class="social">
      <a class="link" href="https://www.instagram.com/hercodecamp">
        <i class="fa fa-instagram"></i>
      </a>
      <a class="link" href="https://www.linkedin.com/company/hercodecamp">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>

  <div class="content footer">
    <div class="pure-g">
      <div class="pure-u-1-2">
        HER CODE CAMP, {{ site.time | date: '%Y' }}
      </div>
      <div class="pure-u-1-2" style="text-align: right;">
        <a href="mailto:info@hercodecamp.com">Contact us</a>
      </div>
    </div>
  </div>
</div>
