<div id="nav" class="header invisible">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">HER CODE CAMP</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected">
        <a href="/" class="pure-menu-link">Home</a>
      </li>
      <li class="pure-menu-item">
        <a href="/blog" class="pure-menu-link">Blog</a>
      </li>
    </ul>
  </div>
</div>

<style>
  #nav .home-menu {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #4d56ee;
  }
  #nav.invisible .home-menu {
    box-shadow: none;
    background: rgba(0, 0, 0, 0);
  }
</style>
<script>
  let navbar = document.getElementById("nav");
  let invisible = true;
  let threshold = 80; // pixels from top until show navbar

  let isTicking;
  const debounce = (callback, evt) => {
    if (isTicking) return;
    requestAnimationFrame(() => {
      callback(evt);
      isTicking = false;
    });
    isTicking = true;
  };
  const handleScroll = evt => {
    // show navbar if beyond the threshold
    if (invisible && window.scrollY > threshold) {
      navbar.classList.remove("invisible");
      invisible = false;
    }

    // hide navbar if before the threshold
    if (!invisible && window.scrollY <= threshold) {
      navbar.classList.add("invisible");
      invisible = true;
    }
  };
  document.defaultView.onscroll = evt => debounce(handleScroll, evt);
</script>
