@import "variables";
@import "ext/fonts";
@import "ext/normalize";
@import "begin";
@import "syntax";
@import "pure_marketing";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $FONTMERRIWEATHER;
  // @include fluidType(16px, 19px);
  line-height: 1.55em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// a {
//   color: $linkColor;
//   text-decoration: none;
//   transition: border-bottom 0.4s;
//   &:hover {
//     border-bottom: 0.5px solid $linkColor;
//   }
// }

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: $FONTROBOTO;
  font-weight: 700;
}

h1 {
  // @include fluidType(36px, 48px);
}

h2 {
  font-weight: bold;
  // @include fluidType(28px, 32px);
}

h4 {
  font-weight: normal;
  // @include fluidType(18px, 20px);
}

figcaption {
  font-size: 10pt;
  line-height: 1.5em;
  margin-top: -1em;
}

header {
  // background-size: cover;
  padding: 120px 0;
  color: #fff;
  overflow: hidden;
  h2 {
    font-weight: normal;
    margin-top: 5px;
  }
  h1 {
    margin: 0;
  }

  .social {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    li {
      color: #fff;
      float: left;
      i {
        &:first-child::before {
          margin-left: 0;
        }
        @include fluidType(26px, 34px);
        transition: color 0.3s;
        &:hover {
          color: $gray;
        }
      }
    }
  }
}

.clearfix {
  clear: both;
}

//
// Basic Container Class
//
.container {
  margin: 0 150px;
  max-width: 720px;

  div.highlighter-rouge {
    right: 150px;
  }

  @media screen and (max-width: $mobileWidth) {
    margin: 0 15px;
    div.highlighter-rouge {
      right: 15px;
    }
    div.highlight {
      padding: 30px 15px;
    }
  }

  @media screen and (max-width: $tabWidth) and (min-width: $mobileWidth) {
    margin: 0 40px;
    div.highlighter-rouge {
      right: 40px;
    }
    div.highlight {
      padding: 30px 40px;
    }
  }

  @media screen and (max-width: $desktopWidth) and (min-width: $tabWidth) {
    margin: 0 80px;
    div.highlighter-rouge {
      right: 80px;
    }
    div.highlight {
      padding: 30px 80px;
    }
  }

  @media screen and (min-width: $desktopWidth) and (max-width: 1280px) {
    margin: 0 100px;
    div.highlighter-rouge {
      right: 100px;
    }
    div.highlight {
      padding: 30px 100px;
    }
  }
}

.post-title {
  color: #222;
  transition: color 0.3s ease;
  margin: 0.1em 0;
  &:hover {
    color: $gray;
    border-bottom: 0;
  }
}

.post-description {
  font-weight: normal;
  color: #ddd;

  margin-top: 0.5em;
  margin-bottom: 1.3em;
}

.post-date {
  color: $gray;
  .icon-calendar {
    margin-right: 6px;
  }
}

.post-tags {
  list-style-type: none;
  padding: 0;
  li {
    float: left;
    padding: 10px 20px;
    background-color: $lightGray;
    color: #000;
    margin: 5px;
    border-radius: 2px;
    @include fluidType(15px, 17px);
    &:first-child {
      margin-left: 0;
    }
  }
}

.posts {
  list-style-type: none;
  padding: 0;
  > li {
    margin-bottom: 30px;
    padding-bottom: 20px;
    &:not(:last-child) {
      border-bottom: 1px solid $lightGray;
    }
  }
}

.posts,
.post-container {
  margin-top: 40px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a:hover {
    border-bottom: none;
  }
}

.post-container {
  img {
    margin: 20px 0;
  }
}

.navbar {
  position: absolute;
  top: 0;
  right: 5vw;
  a {
    color: inherit;
  }
  ul {
    list-style-type: none;
    li {
      // background-color: #ff9f1c;
      border: 1px solid #fff;
      float: left;
      // margin: 5px;
      &:not(:first-child) {
        border-left: 0;
      }
      padding: 10px 25px;
      // border-radius: 4px;
      @include fluidType(15px, 17px);
      transition: background-color 0.3s ease-in;
      &:hover {
        background-color: rgba(#fff, 0.15);
        cursor: pointer;
      }
    }
  }
}

//
// HCC styles
//

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  margin: 20% auto;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;

  h1 {
    color: white;
    font-family: $FONTROBOTO;
    font-weight: 700;

    font-size: 270%;

    @media screen and (min-width: 35.5em) {
      font-size: 270%;
    }
    @media screen and (min-width: 48em) {
      font-size: 450%;
    }
    @media screen and (min-width: 64em) {
      font-size: 600%;
    }

    margin: 0;
  }
  h2 {
    font-family: $FONTMERRIWEATHER;
    text-transform: lowercase;
    font-size: 100%;
    font-style: italic;
    color: $HCC_YELLOW;
  }
}

.pure-menu {
  font-family: $FONTROBOTO;
  font-weight: 700;
}

.homepage.splash-container {
  background-color: $HCC_PURPLE;
  color: white;
  background-image: url("/assets/img/hercodecamp_bg.png");
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 700;

  .logo {
    margin: auto;
    width: 100px;
    height: 100px;
    @media screen and (min-width: 35.5em) {
      width: 170px;
      height: 170px;
    }
    @media screen and (min-width: 48em) {
      width: 220px;
      height: 220px;
    }
    @media screen and (min-width: 64em) {
      width: 300px;
      height: 300px;
    }
    background-image: url("/assets/img/hcc-logo-white-yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.content-wrapper > div {
  border-bottom: 4px solid black;
}

.pure-g [class*="pure-u"] {
  font-family: Merriweather, serif !important;
}

.schedule h2 {
  font-family: $FONTABRIL;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}

.schedule-row {
  border-top: 3px solid black;
  margin: 1em;
  padding: 1em;
  div {
    display: inline-block;
    &.time {
      font-family: $FONTABRIL;
      width: 130px;
      font-size: 30px;
    }
    &.activity {
      font-family: $FONTROBOTO;
      font-size: 20px;
    }
  }
}

.faq-item {
  padding: 0 1em 1em 0; // right, bottom
  .q {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 10px;
  }
}

.panel-people {
  .person {
    padding: 1em;
    .img {
      @media screen and (min-width: 35.5em) {
        width: 200px;
        height: 200px;
      }
      @media screen and (min-width: 48em) {
        width: 140px;
        height: 140px;
      }
      @media screen and (min-width: 64em) {
        width: 200px;
        height: 200px;
      }
      background-size: cover;
      box-shadow: 5px 5px 0px 0px black;
    }
    .info {
      padding: 0 1em;
      .name {
        font-family: "Abril Fatface", serif;
        font-size: 26px;
        margin-bottom: 0.4em;
      }
    }
  }
}

.content-wrapper {
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    margin-top: 0;
  }
}

.content {
  padding: 4% 15%;
}

.eventinfo {
  border-top: 4px solid black;
  h1 {
    text-align: left;
  }
  p {
    font-size: 24px;
    line-height: 32px;
  }
}

.im-interested {
  padding: 10% 15%;
  text-align: center;
  background-image: url("/assets/img/hcc-subbg.png");
  background-size: contain;
  background-position: left top;
  background-repeat: repeat-y;
  background-attachment: fixed;
  p {
    font-size: 30px;
    line-height: 50px;
    font-style: italic;
  }
  .hl {
    background-color: yellow;
  }
}

.who-are-we {
  .group-photo {
    background-image: url("/assets/img/people/hcc-exec-group-photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
  }
  .desc {
    padding: 2em;
  }
}

a.button,
a.btn,
a.cta {
  display: inline-block;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 12px;
  &.cta {
    @media screen and (min-width: 35.5em) {
      padding: 10px;
    }
    @media screen and (min-width: 48em) {
      padding: 15px;
    }
    @media screen and (min-width: 64em) {
      padding: 20px;
    }
    max-width: 380px;
  }
  margin: 1em 0;
  &.btn,
  &.button {
    text-transform: lowercase;
    font-style: italic;
  }
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 120%;
  border: 1px solid black;
  border-radius: 3px;
  &:hover {
    background-color: white;
    color: black;
  }
}

.volunteer {
  .desc {
    .msg {
      text-align: left;
    }
    padding: 10%;
  }
  .photo {
    background-image: url("/assets/img/people/volunteer-photo.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
  }
}

.sponsors {
  background-color: $HCC_PURPLE;
  padding: 2%;
  h1 {
    color: white;
    text-align: center;
  }
  .sponsor {
    min-height: 140px;
    max-width: 260px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.social {
  background-color: $HCC_PURPLE;
  text-align: center;
  margin: 7em 0 3em;
  .link {
    margin: 0 1em;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    background: black;
    padding: 16px;
    font-size: 30px;
    border: 3px solid black;
    &:hover {
      background: none;
      color: black;
    }
  }
}

.footer {
  background: $HCC_GREY;
  color: white;
  width: 100%;
  a {
    color: inherit;
  }
}

.blog-header {
  background-image: url("/assets/img/hercodecamp_blogheader_bg.png");
  background-size: cover;
  background-position: center;
  background-color: $HCC_PURPLE;
  h2 {
    color: #ccc;
  }

  .social i {
    color: #ddd;

    &:hover {
      color: lighten(#ddd, 7%);
    }
  }

  .post-date {
    color: #ddd;
  }
}

.blog-footer {
  color: #aaa;
  a {
    color: inherit;
  }
  padding: 3em 0;
  margin-top: 8em;
  border-top: 3px solid black;
}
