$HCC_PURPLE: rgb(72, 87, 226);
$HCC_YELLOW: #efeb26;
$HCC_GREY: #242424;

$FONTMERRIWEATHER: "Merriweather", serif;
$FONTROBOTO: "Roboto Condensed", sans-serif;
$FONTABRIL: "Abril Fatface", serif;

$linkColor: #999;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;

$gray: #999;
$lightGray: #eee;
